.products__wrapper {
    display: flex;
    justify-content: space-between;
}

.accordion_box {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 5px;
    height: 37px;
    background-color: $color;
}

.accordion_box-text {
    display: flex;

    padding: 8px 12px 5px 14px;
    color: #6f6e6e;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
}

.product_link {
    padding: 5px 12px 5px 14px;
    display: block;
    text-decoration: none;
    color: #6f6e6e;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}

details.product__dropdown[open] .accordion_box-text {
    color: $color;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}


details.product__dropdown[open] .fa-caret-down {
    display: none;
}

details.product__dropdown[open] .fa-caret-up {
    display: inline-block;
}

details.product__dropdown:not([open]) .fa-caret-down {
    display: inline-block;
}

details.product__dropdown:not([open]) .fa-caret-up {
    display: none;
}

.block_options_1 {
    width: 176px;
}

.block_options_2 {
    width: 237px;
}

.block_price {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.block_options_1_top {
    color: #6f6e6e;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.block_options_1_btm {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.block_options_1_btm a {
    text-decoration: none;
    color: #6f6e6e;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding: 0 5px;
}


.products {
    margin-top: 50px;
}

.block_options_3_btm input {
    width: 262px;
    height: 6px;
    border-radius: 3px;
    background-color: #f0f0f0;
}

.product__dropdown {
    margin-bottom: 20px;
}

.up {
    margin-left: 150px;
    display: none;
}

.down {
    margin-left: 150px;
    display: inline-block;
}

.product_options {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.pagination {
    display: inline-block;
}

.page {
    text-decoration: none;
    margin-right: 20px;
    color: #c4c4c4;
    font-family: $font-family;
    font-size: 16px;
    font-weight: bold;

    line-height: 26px;
    text-align: left;
}

.current_page {
    color: $color;
}

.product__bottom {
    display: flex;
    justify-content: space-between;
}

.viewall-button {
    padding: 10px 42px 13px 44px;
    border-radius: 3px;
    border: 1px solid $color;
    background-color: #ffffff;

    color: $color;
    font-family: $font-family;
    font-size: 16px;
    font-weight: bold;

    line-height: 26px;
    text-align: left;

}

.banner-long {
    margin-top: 110px;
    padding-top: 100px;
    height: 341px;
    background-color: #222224;
}

.banner-long__wrapper {
    display: flex;
    justify-content: space-between;
}

.banner-long-header {
    color: #fbfbfb;
    font-family: $font-family;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.banner-long-text {
    color: #fbfbfb;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.95px;
    text-align: center;
}

.banner-long__column {
    text-align: center;
}