.products__header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 50px;
    margin-right: 50px;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: 1px solid #eaeaea;
    margin-top: 26px;
}

.product__desc {
    display: flex;
    justify-content: space-between;
}

.product_text {
    margin-left: 10px;
}

.product__desc-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.product__desc-box>p>mark {
    color: #575757;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    background-color: #ffffffff;
}

.product__name {
    color: #222222;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700px;
    text-align: right;
    text-transform: uppercase;
}

.circle {
    width: 15px;
    height: 15px;
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
}

.product__desc div {
    color: #6f6e6e;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}

.product__price,
.product__quality,
.product__shipping,
.product__subtotal,
.product__action {
    margin-right: 90px;
    color: #656565;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    align-items: center;
}


.shopping__buttons {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.shopping__button {
    margin-left: 40px;
    padding: 15px 40px 15px 40px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.checkout__box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.checkout__column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.checkout_input {
    margin-top: 22px;
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.quote {
    margin-top: 25px;
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;

    color: #4a4a4a;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.checkout__header {
    color: #222222;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.checkout__text {
    color: #222222;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;

}

.checkout__text-small {
    color: #000000;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.checkout__text-small-small {
    padding-top: 40px;
    color: #000000;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
}

.last-column {
    width: 400px;
    background-color: #f5f3f3;
    height: 214px;
    align-items: flex-end;
}

.checkout__small-box {
    margin-right: 30px;
}

.proceed {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color;
    border: none;

    color: #ffffff;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    width: 273px;

}

.price {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: $color;
    background-color: white;
}

.border-line {
    border: 1px solid #e2e2e2;
    ;
}

.shopping__bottom {
    margin-bottom: 100px;
}