body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #ffffff;
}

.header__left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header__right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.logo img {
    width: 59px;
    height: 51px;
}

.logo div {
    width: 93px;
    height: 19px;
    color: #222222;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato Light";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
    padding: 12px 37px 12px 12px;
}

.logo div mark {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
    background-color: white;
}

summary {
    display: block;
}

summary::after {
    background-color: #fff;
    width: 9px;
    height: 6px;
    color: #838383;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
}

/* details[open] .nav__list {
    position: relative;
}

details[open] .menu__list {
    position: relative;
} */

.browse {
    width: 57px;
    height: 37px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
}

/* .browse div {
    width: 46px;
    height: 10px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    padding: 12px 13px;
} */

.search {
    display: flex;
    justify-content: space-between;
    height: 39px;
}

.search__input {
    width: 300px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 16px 14px;
}

.search__btn {
    width: 37px;
    color: #a4a4a4;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    background-color: #ffffff;
}

.search__btn div {
    width: 1px;
    height: 38px;
    background-color: #e8e8e8;
}

.basket {
    width: 41px;
    height: 37px;
}

.basket__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.basket__menu {
    display: block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 262px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 18px;
}

.basket__menu::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 46px;
    left: 15px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}




.basket__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.basket__checkout {
    margin-bottom: 11px;
    border: 1px solid #f16d7f;
    padding: 20px 20px 20px 20px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.basket__gotocart {
    padding: 20px 20px 20px 20px;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.basket__item-delete {
    margin-top: 36px;
    width: 15px;
    height: 15px;
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
}

.item__description {
    display: block;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
}

.basket__star {
    color: #e4af48;
    font-family: "Font Awesome";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.basket__price {
    width: 52px;
    height: 12px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.basket__total {
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 32px;
}

.basket__items {
    margin-bottom: 19px;
}

.item__text {
    width: 74px;
    height: 10px;
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 10px;
}

.account {
    background-color: #f16d7f;
    padding: 16px 19px;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
    /* Text style for "M, y Accou" */
    font-style: normal;
    letter-spacing: 0.38px;
    line-height: normal;
}

.account div {
    text-align: center;
    width: 82px;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    font-style: normal;
    letter-spacing: 0.38px;
    line-height: normal;
}

.new {
    height: 148px;
    background-color: #f8f3f4;
}

.new_arrivals {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.new_arrivals-header {
    padding-top: 65px;
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 26px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.new_arrivals-path {
    padding-top: 60px;
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.new_arrivals-path-red {
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
}

.nav__link {
    padding: 19px 20px 22px;
    color: #222222;
    text-decoration: none;
    position: relative;
}

.nav__menu {
    width: 150px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.browse__hedding {
    border-bottom: 1px solid #e6e6e6;
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: uppercase;

}

.browse__menu {
    display: block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 262px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.browse__menu::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 45px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.browse-menu-link {
    display: block;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    color: #4f4f4f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
}

.mega-box {
    display: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 33px;
}

.menu-list:hover .mega-box {
    display: flex;
}

.last:hover .mega-box {
    right: 0;
}

.mega-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 20px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.mega-hedding {
    width: 235px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.mega-menu-link {
    display: block;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 25px;
}

.megs-flex {
    margin-right: 46px;
}

.megs-flex:last-of-type {
    margin-right: 0;
}

.mega-menu-link:hover {
    color: #f16d7f;
}

.nav__list {
    position: relative;
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 19px;
}

.fashion {
    background-color: #e8e8e8;
}

.fashion__line {
    margin-top: 224px;
    margin-right: 12px;
    width: 12px;
    height: 100%;
    background-color: #f16d7f;
}

.fashion__title {
    width: 485px;
    margin-top: 210px;
    color: #222222;
    font-family: "Lato";
    font-size: 60px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.fashion__title div {
    font-size: 40px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bolder;
}

.fashion__title mark {
    font-size: 40px;
    background-color: inherit;
    color: #f16d7f;
    font-weight: bolder;
}

.fashion__wrapper {
    height: 613px;
    background: url('img/fashion_bg.svg')
}

.fashion__left {
    display: flex;
    justify-content: space-between;
    width: 530px;
    height: 97px;
}

.fashion__text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.offer {
    margin-top: 90px;
}

.offer__wrapper {
    width: 1140px;
    height: 823px;
    display: flex;
    justify-content: space-between;
}

.offer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
}

.offer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
}

.offer__text {
    font-weight: bolder;
    padding: 16px 19px;
    margin-top: 26px;
    background-color: #ffffff;
    font-weight: bolder;
    width: 123px;
    color: #222222;
    font-family: "Lato";
    font-size: 17px;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
}

.offer__red {
    font-weight: bolder;
    color: #f16d7f;
    width: 123px;
    font-size: 25px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    background-color: white;
}

.offer__text-long {
    font-size: 17px;
    width: 185px;
}

.offer__big {
    width: 560px;
    height: 542px;
}

.offer__small {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.offer__men {
    background: url('img/offer_men.svg');
}

.offer__acc {
    background: url('img/offer_access.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #dadad2;
}

.offer__kids {
    background: url('img/offer_kids.svg');
}

.offer__woman {
    background: url('img/offer_woman.svg');
}

.items {
    margin-top: 90px;
}

.items__header {
    text-align: center;
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    /* Text style for "Fetured It" */
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;

}

.items__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.items__header div {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 263px;

    margin-left: 20px;
    margin-bottom: 40px;
    position: relative;

}

.item__link {
    display: block;
    text-decoration: none;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.76);
}

.item:hover .item__img {
    filter: brightness(50%);
}

.item:hover .add-box {
    display: flex;
}

.item__img {
    width: 100%;
}

.item__desc {
    padding-left: 5px;
    margin-bottom: 17px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

.item__price {
    padding-left: 5px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.items__all {
    margin-top: 90px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.add {
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ffffff;
}

.add:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

}

.add-box {
    display: none;
    top: 98px;
    justify-content: center;
    width: 100%;
    position: absolute;

}

.add-txt {
    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    margin-left: 9px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-top: 100px;
}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 529px;
}

.banner__left {
    background: url('img/banner.svg');
    width: 60pc;
    height: 529px;
}

.banner__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #222224;
}

.banner__text {
    display: flex;
    justify-content: space-between;
    padding: 27px;
    margin-left: 36px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.banner__text div {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 219px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    /* Text style for "W, orldwid" */
    font-style: normal;
    letter-spacing: 0.35px;
}

.banner__text div div {
    margin-left: 10px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "Free Deliv" */
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
}

.banner__offer {
    margin-top: 146px;
    margin-left: 39px;
    width: 393px;
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "3, 0%" */
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;

}

.banner__offer div {
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.9px;
    line-height: normal;
}

.banner__offer span {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
}



.subscribe {
    margin-top: 100px;
    height: 429px;
    background: url('img/subscribe.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.subscribe__wrapper {
    display: flex;
    justify-content: space-around;
}

.subscribe__right {
    padding-top: 111px;
    display: flex;
    justify-content: space-around;
}

.subscribe__lines {
    width: 90px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.subscribe__line-left {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.subscribe__line-right {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
}

.subscribe__text {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 386px;
    height: 68px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.name {
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.sign span {
    width: 82px;
    height: 27px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.sign {
    padding-top: 19px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-style: normal;
}

.girl__head {
    border-radius: 50%;
    height: 83px;
}

.subscribe__left {
    margin-top: 111px;
}

.subscribe__left-text {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 34px;
    text-transform: uppercase;
    padding-top: 20px;
}

.subscribe__left-text div {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 24px;
    margin-bottom: 35px;
}

.subscribe__form-email {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 25px;
    border: none;
}

.subscribe__form-button {
    border: none;
    margin-left: -3px;
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;

    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.footer__wrapper {
    margin-top: 100px;
    height: 486px;
    display: flex;
    justify-content: space-between;
}


.social {
    padding-left: 60px;
    background-color: #e6e6e6;
}

.footer__text {
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.footer__logo {
    width: 100px;
    margin-bottom: 29px;
}

.first__column {

    width: 427px;
    height: 180px;
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: right;

    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.footer__column {
    margin-left: 60px;

}

.footer__columns {
    display: flex;
    justify-content: space-between;

}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 154px;
}

.footer__link {

    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 59px;
    text-decoration: none;
}


.footer__column-header {
    margin-bottom: 40px;
    text-align: center;
    height: 14px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    /* Text style for "C, OMPANY" */
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 79px;
    background-color: #e6e6e6;
}

.social__text {
    width: 260px;
    height: 14px;
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: right;
}

.social__icons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

}

.social__icon {
    margin: 3px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}

.icon_red {
    background-color: #f16d7f;
}

.facebook__icon {
    padding: 8px;
    width: 9px;
    height: 16px;
    color: #b2b2b2;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: center;
}

.twitter__icon {
    padding: 8px;
    width: 15px;
    height: 13px;
    color: #f7f7f8;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: right;
}

.linkedin__icon {
    padding: 8px;
    width: 14px;
    height: 14px;
    color: #b2b2b2;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: right;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
}

.pinterest__icon {
    padding: 8px;
    width: 12px;
    height: 15px;
    color: #b2b2b2;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: right;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
}

.google-plus__icon {
    padding: 8px;
    width: 21px;
    height: 14px;
    color: #b2b2b2;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42px;
    text-align: right;

}

.checkout {
    padding-left: 200px;
}

.accordion__header {
    margin-top: 89px;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}


.shipping_flexbox {
    margin-left: 35px;
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.shipping_text-big {
    font-family: Lato;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.shipping_text-mid {
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.shipping_text-small {
    margin-top: 8px;
    color: #b3b2b2;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.shipping_text-req {
    margin-bottom: 40px;
    color: #ff0d0d;
    font-family: Lato;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.shipping__button {
    margin-top: 32px;
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;

    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.shipping_radio {
    margin-top: 15px;
    background-color: #000000;
}

.shipping_input {
    margin-top: 16px;
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.req {
    color: #ff0d0d;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}

.small {
    text-transform: none;
}

.box {
    margin-top: 30px;
    margin-bottom: 10px;
}

.radio_box {
    margin-top: 20px;
    margin-bottom: 30px;
}