$font-family: 'Lato';
$color: #f16d7f;
$width-container: 1140px;



@import "_header.scss";

body {
    font-family: $font-family, sans-serif;
}

.container {
    width: $width-container;
    margin: 0 auto;
}

.new {
    height: 148px;
    background-color: #f8f3f4;
}

.new_arrivals {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.new_arrivals-header {
    padding-top: 65px;
    color: $color;
    font-family: $font-family;
    font-size: 26px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.new_arrivals-path {
    color: #636363;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.red {
    color: $color;
    font-weight: 600;
}

.new_arrivals-box {
    padding-top: 60px;
}

.fashion {
    background-color: #e8e8e8;
}

.fashion__line {
    margin-top: 224px;
    margin-right: 12px;
    width: 12px;
    height: 100%;
    background-color: $color;
}

.fashion__title {
    width: 485px;
    margin-top: 210px;
    color: #222222;
    font-family: $font-family;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.fashion__title div {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.fashion__title mark {
    font-size: 40px;
    background-color: inherit;
    color: $color;
    font-weight: bolder;
}

.fashion__wrapper {
    height: 613px;
    background: url('img/fashion_bg.svg')
}

.fashion__left {
    display: flex;
    justify-content: space-between;
    width: 530px;
    height: 97px;
}

.fashion__text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.offer {
    margin-top: 90px;
}

.offer__wrapper {
    width: $width-container;
    height: 823px;
    display: flex;
    justify-content: space-between;
}

.offer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
}

.offer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
}

.offer__text {
    font-weight: bolder;
    padding: 16px 19px;
    margin-top: 26px;
    background-color: #ffffff;
    font-weight: bolder;
    width: 123px;
    color: #222222;
    font-family: $font-family;
    font-size: 17px;
    text-align: left;
    text-transform: uppercase;
}

.offer__red {
    font-weight: bolder;
    color: $color;
    width: 123px;
    font-size: 25px;
    letter-spacing: 0.75px;
    background-color: white;
}

.offer__text-long {
    font-size: 17px;
    width: 185px;
}

.offer__big {
    width: 560px;
    height: 542px;
}

.flex-box {
    display: flex;
    text-decoration: none;
}

.offer_box {
    display: block;
}

.offer__small {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.offer__men {
    background: url('img/offer_men.svg');
}

.offer__acc {
    background: url('img/offer_access.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #dadad2;
}

.offer__kids {
    background: url('img/offer_kids.svg');
}

.offer__woman {
    background: url('img/offer_woman.svg');
}

.featured {
    margin-top: 90px;
}

.featured__header {
    text-align: center;
    color: #222222;
    font-family: $font-family;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
}

.featured__header div {
    color: #9f9f9f;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}

.items__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item {
    width: 263px;
    margin-left: 20px;
    margin-bottom: 40px;
    position: relative;
}

.item__text {
    // width: 74px;
    // height: 10px;
    color: #222222;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.item__link {
    display: block;
    text-decoration: none;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.76);
}

.item:hover .item__img {
    filter: brightness(50%);
}

.item:hover .add-box {
    display: flex;
}

.item__img {
    width: 100%;
}

.item__desc {
    padding-left: 5px;
    margin-bottom: 17px;

    color: #222222;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;

}

.item__price {
    padding-left: 5px;
    color: $color;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.items__all {
    margin-top: 90px;
    background-color: $color;

    color: #ffffff;
    font-family: $font-family;
    font-size: 16px;
    line-height: 54px;
    text-align: center;

    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.add {
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ffffff;
}

.add:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.add-box {
    display: none;
    top: 98px;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.add-txt {
    color: #ffffff;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700;
    margin-left: 9px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    width: $width-container;
    height: 529px;
}

.banner__left {
    background: url('img/banner.svg');
    width: 60pc;
    height: 529px;
}

.banner__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #222224;
}

.banner__text {
    display: flex;
    justify-content: space-between;
    padding: 27px;
    margin-left: 36px;
    color: #fbfbfb;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.banner__text div {
    margin-left: 45px;
    margin-bottom: 10px;
    width: 219px;
}

.banner__text div div {
    margin-left: 10px;
    color: #fbfbfb;
    font-family: $font-family;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.5px;

}

.banner__offer {
    margin-top: 146px;
    margin-left: 39px;
    width: 393px;
    color: #ffffff;
    font-family: $font-family;
    font-size: 54px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.banner__offer div {
    font-size: 32px;
    letter-spacing: 0.9px;

}

.banner__offer span {
    color: $color;
    letter-spacing: 1.5px;

}

@import "_footer";

@import "_checkout";

@import "_single";

@import "_shopping";

@import "_product";