* {
    margin: 0;
    padding: 0;
}

$widthscreen:1170px;

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@mixin container {
    max-width: 1170px;
    margin: 0 auto;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
}

.header {
    &__background {
        background-color: #f6f6f6;
    }

    &__top {
        @include container;
        display: flex;
        justify-content: space-between;
        height: 1.40625%;

    }

    &__right {

        width: 27%;

        select {
            background-color: #f6f6f6;
        }
    }

    &__left {

        width: 43%;

    }

    &__info {
        color: #7e7e7e;
        font-family: "Merriweather Sans";
        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 19px;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        border: 0;
        margin-right: 7.33333333%;


        &:last-child {
            margin-right: 0px;
        }

        &:nth-child(4) {
            margin-right: 0px;
        }

        .info-select {
            border: 0px;
            background-color: #f6f6f6;
        }
    }

    &__btm {
        @include container;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5%;
        margin-bottom: 1.5%;

        a {
            text-decoration: none;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        padding-top: 1%
    }

    .logo {
        &__link {
            display: flex;
            align-items: center;
        }

        &__text {
            color: #454545;
            font-family: "Merriweather Sans";
            font-size: 44px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 19px;
            text-align: left;
            text-transform: uppercase;
        }
    }

    &__nav {
        width: 51.9%;

        .header__search_block {
            height: 32px;
        }

        .header__menu_ul {
            list-style-type: none;
            display: flex;
        }
    }

    &__search {
        height: 100%;

        .search--input {
            width: 260px;
            height: 100%;
            border: 1px solid #e1e1e1;
            background-color: #ffffff;
            border-right: 0px;
            padding: 1%;
            color: #888888;
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            border: 1px solid #e1e1e1;
            background-color: #ffffff;
            border-left: 0px;
            color: #888888;
        }

        display: flex;
        justify-content: flex-end;

    }

    &__menu {
        .menu__link {
            display: inline-block;
            color: #565656;
            font-family: Cousine;
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 19px;
            text-align: left;
            text-transform: uppercase;
        }
    }

    &__content {
        background-color: #cccccc;
        display: flex;
        align-items: center;
        height: 1070px;

        .row {
            &__left_border {
                color: #ffffff;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 3px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
            }

            &__right_border {
                color: #ffffff;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 3px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 30px;
            }
        }

        .content__container {
            @include container;
            display: flex;
            justify-content: flex-end;

            .content__text {
                width: 60%;
            }
        }

        .text_p1 {
            color: #555555;
            font-family: Cousine;
            font-size: 30px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 45px;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 1.5517%;
        }

        .text_p2 {
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
            color: #ffffff;
            font-family: "Merriweather Sans";
            font-size: 100px;
            font-weight: bolder;
            font-style: normal;
            letter-spacing: normal;
            line-height: 80px;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 1.5517%;
        }

        .text_p3 {
            color: #4c4c4c;
            font-family: "Roboto Condensed";
            font-size: 35px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 33px;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 3%;
        }

        .text_p4 {

            a {
                text-decoration: none;
                color: #333333;
                font-family: "Merriweather Sans";
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                line-height: 21.15px;
                text-align: left;
                text-transform: uppercase;
            }
        }
    }
}

.menu {

    &__list {
        margin: 2.4% 3% 2.8%;

        &:last-child {
            margin-right: 0px;
        }
    }
}